body{
    background-color:rgb(250, 250, 250);
}

.description{
    font-size: small;
    text-align: center;
}

.footer{
    display: flex;
    font-family: 'Hind Madurai', sans-serif;
    font-size: x-small;
    justify-content: space-evenly;
}

.header-container{
    font-family: 'Anton', sans-serif;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1px;
}

.header-container-2{
    font-family: 'Hind Madurai', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.image{
    max-width: 50%;
    height: auto;
}

.image-2{
    display: flex;
    max-width: 10%;
    height: auto;
    align-self: flex-start;
}

.image-container{
display: flex;

}

.marquee-image{
    object-fit: cover;
    height: 250px;
    margin-right: 8px;
}

@media only screen and (max-width: 500px) {
.image-container{
    flex-direction: column;
    align-items: center;
}
.marquee-image{
    margin-bottom: 8px;

}
}

.section{
display: flex;
align-items: center;
justify-content: center;
}
 
.title{
    font-family: 'Anton', sans-serif;
    font-size: xx-large;
    text-align: center;
}

.video-label{
    background-color: #a2e3f1;
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    width: 420px;
    justify-content: center;
    border-radius: 50%;
    padding-bottom: 20px;
}

.video-label-2{
    background-color: #a2e3f1;
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    width: 420px;
    justify-content: center;
    border-radius: 50%;
    padding-bottom: 20px;
}

.video-label-3{
    background-color: #a2e3f1;
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    width: 420px;
    justify-content: center;
    border-radius: 50%;
    padding-bottom: 20px;
}

.video-section{
    display: flex;
    padding-top: 10px;
    padding-bottom: 20px;
}

.video-section-2{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 10px;
    padding-bottom: 20px;
}

.video-section-3{
    display: flex;
    padding-top: 10px;
    padding-bottom: 20px;
}