body{
    background-color:rgb(250, 250, 250);
}

a:hover{
    letter-spacing: 0.7px;
    transition: all .4s ease;
}

.footer{
    display: flex;
    font-family: 'Hind Madurai', sans-serif;
    font-size: small;
    color: black;
    justify-content: space-evenly;
    margin-top: 2px;
}

.footer-section{
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-text{
    font-family: 'Hind Madurai', sans-serif;
    font-size: small;
    font-weight: bolder;
    color: black;
    text-decoration: none;
}

.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1px;
}

.header-container-2{
    font-family: 'Hind Madurai', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-bottom: 5px;
    border-bottom: 3px solid black;
}

.header-description{
    font-family: 'Hind Madurai', sans-serif;
    font-size: 2vw;
    font-weight: bolder;
    text-align: center;
}

.header-title{
    font-family: 'Anton', sans-serif;
    font-size: 5vw;
    text-align: center;
}

.iframe{
    width: 560px; 
    height: 315px;
    border: 1px solid #8a817c;
    padding: 5px;
    box-shadow: 5px 8px 12px #8a817c;  
}

.image{
    display: flex;
    max-width: 13%;
    height: auto;
    align-self: flex-start;
}

.image-container{
    display: flex;
    margin-top: 40px;
    margin-bottom: 50px;
    justify-content: space-evenly;
}

.marquee-image{
    object-fit: cover;
    width: 300px; 
    height: 310px;
    margin-right: 5px;
    border: 1px solid #8a817c;
    padding: 5px;
    box-shadow: 5px 8px 12px #8a817c;
}

.paragraph{
    font-family: 'Hind Madurai', sans-serif;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 30px;
}

.paragraph-2{
    font-family: 'Hind Madurai', sans-serif;
    font-size: 2vw;
    padding-left: 90px;
}

.paragraph-3{
    font-family: 'Anton', sans-serif;
    font-size: 2.2vw;
    font-weight: bold;
    padding-left: 30px; 
}

.paragraph-4{
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1.5vw;
    padding-left: 30px;
}

.paragraph-5{
    font-family: 'Hind Madurai', sans-serif;
    font-size: 2vw;
    padding-left: 30px; 
}

.video-label{
    background-color: #a2e3f1;
    font-family: 'Notable', sans-serif;
    font-size: 2em;
    color: black;
    display: flex;
    align-items: center;
    text-align: center;
    width: 420px;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid black;
    padding-bottom: 20px;
}

.video-section{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}

.video-section-2{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 540px) 
{   
    .header-description{
        font-size: 3vw;
    }
    
    .header-title{ 
        font-size: 8vw;  
    }

    .iframe{
        width: 200px;
        height: auto;
        }
    
    .image-container{
        flex-direction: column;
        align-items: center;
        grid-gap: 5px;
    }
    
    .marquee-image{
        margin-bottom: 5px;
    }
    
    .paragraph{
        font-size: 7vw;
        padding-left: 15px;
        padding-right: 10px;
    }

    .paragraph-2{
        font-size: 5.5vw;
        padding-left: 20px;
        padding-right: 15px;      
    }

    .paragraph-3{
        font-size: 7vw;
        padding-left: 15px;       
    }

    .paragraph-4{
        font-size: 4vw;
        padding-left: 15px;
        padding-right: 15px;
    }

    .paragraph-5{
        font-size: 5.5vw;
        padding-left: 15px; 
    }

    .video-label{
        font-size: 0.58em;
        text-align: center;
        width: 80px;
        height: auto;
    }
    
    .video-label-2{
        width: 80px;
        height: auto;
    }
    
    .video-label-3{
        font-size: 8vw;
        width: 80px;
        height: auto;
    }
}
    